@model PenaltyCalculation_7.Models.RegisterViewModel

@{
  ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("Register", "Registration", FormMethod.Post))
{
  @Html.ValidationSummary(true)

  <form asp-controller="Registration" asp-action="Register" method="post">
    <div class="dropdown show">
      <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


        <label for="Role">Choose a Role:</label>

        <select name="Role" id="Roles">
          <option value="Approval">Approval</option>
          <option value="User">User</option>

        </select>
        
      </div>

      <div class="form-group">
      <label asp-for="Username">Username:</label>
      <input asp-for="Username" class="form-control" id="Username" pattern="[A-Za-z]{2,20}$"
      title="Must contain 20 letters "required >
      </div>

      <div class="form-group">
      <label asp-for="Password">Password:</label>
      <input asp-for="Password" type="password" class="form-control" id="Password"
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
      title="Wrong Pattern. It contain at least one capital letter, one lower letter , one digit, one special characters
      & is at least 8 character long" required>
      </div>

      <div class="form-group">
      <label asp-for="Firstname">FirstName:</label>
      <input asp-for="Firstname" class="form-control" id="Firstname" pattern="[A-Za-z]{2,20}$"
      title="Must contain 20 letters " required>
      </div>

      <div class="form-group">
      <label asp-for="Lastname">LastName:</label>
      <input asp-for="Lastname" class="form-control" id="Lastname" pattern="[A-Za-z]{2,20}$"
      title="Must contain 20 letters " required>
      </div>

      <div class="form-group">
      <label asp-for="Contact">Contact:</label>
      <input asp-for="Contact" class="form-control" id="Contact" pattern="^[0-9]{10}$"
      title="Must contain 10 number" required>
      </div>

      <a type="submit" href="/Home">Register</a>

      </form> 

       
          


        }      